* {
    padding: 0;
    margin: 0;
}

body {
    padding-inline: 8vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    gap: 45px;
}

#empty,
#addBook-container {
    background-color: #6495ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px 60px;
    padding-bottom: 0;
}

#addBook-container {
    position: fixed;
    top: 0;
    color: white;
}

#logo-besar {
    width: 64px;
}

#addBook-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    gap: 10px;
    font-size: 20px;
    margin-top: -50px;
}

#addBook-form h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}

#addBook-form input {
    height: 40px;
    box-sizing: border-box;
    padding-inline: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-top-left-radius: 0;
}

::placeholder {
    color: rgb(171, 171, 171);
}

#addBook-form #isCompleteCheck {
    height: fit-content;
    margin-left: 10px;
}

#addBook-form #submitButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 35px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: #1849A3;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

#addBook-form #submitButton:hover {
    background-color: #2c5dba;
}

#app-name {
    background-color: #1849A3;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

main {
    width: 100%;
    margin-top: 80px;
}

/* search container */
#search-container {
    background-color: #6495ED;
    display: flex;
    justify-content: center;
    height: 70px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
}

#logo-kecil {
    height: 40px;
}

#searchInput {
    width: 500px;
    padding-inline: 15px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 10px;
}

#searchSubmit {
    width: 90px;
    border: none;
    border-radius: 10px;
    background-color: #1849A3;
    color: white;
}

#searchSubmit:hover {
    background-color: #2c5dba;
}

/* bookshelfs container */
#bookshelfs-container {
    display: flex;
    gap: 25px;
    margin-block: 30px;
}


.bookshelf {
    border: 2px solid rgb(165, 165, 165);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 25px;
    height: fit-content;
}

.bookshelf h2 {
    font-size: 26px;
    color: #6495ED;
    margin-bottom: 20px;
}

.item {
    background-color: #F1F6FF;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
}

.item h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.item p {
    font-size: 18px;
    margin-bottom: 5px;
}

.greenButton,
.redButton {
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 5px;
    margin-top: 5px;
    transition-duration: .2s;
}

.item button:hover {
    background-color: black;
}

button {
    cursor: pointer;
}

.item .greenButton {
    background-color: #21B56E;
    margin-right: 10px;
}

.item .redButton {
    background-color: #C52986;
}